*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(173, 216, 230);

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DynaPuff', cursive;
}

header{
    height: 100px;
    padding: 8px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
}

img{
    width: 550px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
}

.biografia{
    font-size: larger;
    font-size: large;
}

.titulo{
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 500px;
    width: 1200px;
    text-align: center;
    background-color: rgb(173, 216, 230);
}

.subtitulo-destaque{
    gap: 24px;
    padding: 16px;
    align-self: flex-start;
    font-size: 20px;
    background-color: lightblue;
    text-align: start;
}

.subtitulo{
    font-size: larger;
    background-color: lightblue;
    text-align: justify;
    font-size: x-large;
    font-family: 'DynaPuff', cursive;
}

.container{
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: large;
    text-align: justify;
}

#link-topo{
    text-decoration: none;
    color: white;
    background-color:lightblue;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

footer{
    height: 100px;
    padding: 50px;
    font-style: italic;
    font-family: 'DynaPuff', cursive;
}


/* TABLET */
@media (max-width: 960px){

}
